/*
Link til GitHub Repo

https://github.com/majdal01/mockup-opgave-mld.git 

*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #3C3C3C;
}

body {
    width: 21cm;
    height: 29.7cm;
    margin: 0 50px;
}

h1 {
    font-size: 25px;
    font-weight: bold;
    font-weight: 400;
}

h2 {
    font-size: 18px;
    font-weight: 300;
}

p {
    font-weight: 300;
}

/*Header*/

header {
    width: 21cm;
}

.head1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

.head1 a {
    font-size: 12px;
}

header p {
    font-size: 0.8em;
}

header div {
    background-color: #F3F4EF;
    text-align: right;
    padding: 0.5em;
}

header nav {
    background-color: #779882;
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    font-size: 2em;
    padding: 0.2em 0.4em;
}

i {
    color: black;
}

/*Billede og overskrifter*/

img {
    width: 21cm;
    height: 300px;
    object-fit: cover;
    object-position: 0 -50px;
    display: inline-block;
    float: left;
}

.overskrifter {
    background-color: #779882;
    padding: 1em;
    width: 100%;
    display: inline-block;
}

.overskrifter h1 {
    padding-bottom: 5px;
}

.overskrifter h1, h2 {
    color: white;
    text-align: center;
}

/*Fællesskabstekst*/

.fallesskab {
    background-color: #F3F4EF;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 250px;
    gap: 50px;
}

article h1 {
    padding-bottom: 25px;
}

article p {
    padding: 10px 0;
    letter-spacing: 0.3px;
    line-height: 1.2em;
}

/*Formular*/

.formular {
    background-color: #425348;
    border-radius: 15% / 10%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.formular h1 {
    color: white;
    padding-top: 40px;
    padding-left: 25px;
}

Form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 100%;
}

input {
    height: 40px;
    width: 200px;
    border-radius: 5% / 30%;
    margin-bottom: 15px;
    padding-left: 15px;
}

.tilmeld {
    padding: 0;
    background-color: #779882;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/*Sammentekt*/

.hvidafsnit {
    padding: 30px 80px;
}

.hvidafsnit h1 {
    text-align: center;
    padding-bottom: 25px;
}

.hvidafsnit p {
    padding: 10px 0;
    letter-spacing: 0.5px;
    line-height: 1.2em;
}

.hvidafsnit nav {
    display: flex;
    justify-content: center;
    padding-top: 20px
}

.hvidafsnit a {
    display: ;
    font-size: 0.8em;
    background-color: #779882;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

/*Footer*/

footer {
    background-color: #425348;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 50px 40px;
}

footer a {
    text-decoration: none;
    color: white;
}



@media print {
    header body footer { 
        -webkit-print-color-adjust: exact !important;
    }
     }